services:
  geoalbum:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: geoalbum
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - GIN_MODE=release
    volumes:
      - ./data:/app/data